*{
    background-color: #121d23;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    overflow: hidden;

    min-width: 400px;
    min-height: 350px;

    height: 100%;
}

h1 {
    margin: 1rem 1rem 0rem 1rem;
    padding: 0;
}
p {
    margin: 0rem;
    font-size: 1rem;
}

#record_btn{
    width: 72px;
    padding: 1rem;
    margin: 2rem;
    transition: transform .2s;
}

#record_btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.help {
    font-size: 1.2rem;
    font-weight: 600;
    color: aquamarine;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-around;
    margin-top: auto;
    font-size: .8rem;
}